
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="site/idl.css">
</head>
<body>
  <% if (github) { %>
  <a href="http://github.com/<%= github %>"><img style="position: fixed; top: 0; right:
  0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"
  alt="Fork me on GitHub" /></a>
  <% } %>
  <div id="container">
    <div id="narrative">
      <% for (var i = 0; i < sections.length; i++) { %>
        <% if (sections[i].type == "namespace") { %>
          <h3 class="namespace"><%= sections[i].name %></h3>
        <% } else if (sections[i].type == "function") { %>
          <% if (sections[i].parent.type == "class") { %>
            <h3 class="function"><%= sections[i].shortName() %></h3>
          <% } else { %>
            <h3 class="function"><%= sections[i].fullName() %></h3>
          <% } %>
        <% } else if (sections[i].type == "event") { %>
          <h3 class="event"><%= sections[i].shortName() %></h3>
        <% } else if (sections[i].type == "class") { %>
          <h3 class="class"><%= sections[i].fullName() %></h3>
        <% } %>
        <% if (/^class|function|event$/.test(sections[i].type)) { %>
            <% for (var j = 0; j < sections[i].parameters.length; j++) { %>
                <div class="parameter">
                  <h4><%= sections[i].parameters[j].name %></h4>
                  <% for (var k = 0; k < sections[i].parameters[j].html.length; k++) { %>
                    <%= sections[i].parameters[j].html[k] %>
                  <% } %>
                </div>
            <% } %>
        <% } %>
        <% for (var j = 0; j < sections[i].html.length; j++) { %>
          <%= sections[i].html[j] %>
        <% } %>
      <% } %>
    </div>
    <div id="api">
      <% for (var i = 0; i < sections.length; i++) { %>
        <% if (sections[i].type == "narrative" && i > 0) { %>
          <h2 class="heading"><%= sections[i].name %></h3>
        <% } else if (sections[i].type == "function") { %>
          <h3 class="function depth-<%= sections[i].depth() %>"><%= sections[i].name %></h3>
        <% } else if (sections[i].type == "class") { %>
          <h3 class="class depth-<%= sections[i].depth() %>"><%= sections[i].name %></h3>
        <% } else if (sections[i].type == "event") { %>
          <h3 class="function depth-<%= sections[i].depth() %>">"<%= sections[i].name %>"</h3>
        <% } else if (sections[i].type == "namespace") { %>
          <h3 class="namespace depth-0"><%= sections[i].name %></h3>
        <% } %>
      <% } %>
      <% if (docco) { %>
        <h2 class="heading">Docco</h3>
        <% for (var i = 0; i < docco.length; i++) { %>
          <% if (/.html$/.test(docco[i])) { %>
            <% var caffinated = docco[i].replace(/^(.*).html$/, "$1.coffee"); %>
            <h3 class="docco depth-0"><a href="./documentation/<%= docco[i] %>"><%= caffinated %></a></h3>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
</body>
</html>
